---
---
;
$page-background: #FCFEFF;
$page-text-color: #07203B;
$selection-background: #BDE9FF;
$content-font-family: Georgia,serif;

html {
  font: normal 14pt/1.5 $content-font-family;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0 auto;
  max-width: 40em;
  box-sizing: border-box;
}

h1, h2 {
  font-weight: normal;
  letter-spacing: -0.04em;
}

p { hyphens: auto; }
abbr { font-size: 95%; }

header > p {
  font-style: italic;
}

ul {
  padding: 0 0 0 1em;
  margin: 1em 0 1em -1em;
}
  
li > ul {
  margin: 0 0 0 0.3em;
}

td > ul {
  margin: 0 0 1em 0.3em;
}

h1 + h2, h2 + p, h2 + ul, h2 + table {
  margin-top: 0.3em;
}

table {
  border-collapse: collapse;
  margin: 1em 0;

  &:first-child { margin-top: 0; }  
  &:last-child { margin-bottom: 0; }  
  &:only-child { margin: 0 auto; }
}

th, td {
  font-weight: inherit;
  text-align: left;
  vertical-align: baseline;
  padding: 0.1em 0.7em 0.1em 0;

  &:last-child { padding-right: 0; }
}

thead:first-child > h2 { margin-top: 0; }
tbody th {
  white-space: nowrap;
  font-size: 85%;
}

.flow > * {
  display: inline-block;
}

.flow.gutter > *:not(:last-child) {
  margin-right: 1.5em;
}

@media screen {
  html {
    background: $page-background;
    color: $page-text-color;
  }

  body {
    padding: 0 1em;
  }

  ::selection {
    background: $selection-background;
  }

  .dimmedText {
    color: rgba($page-text-color, .6);
  }
}

@media only screen and (max-width: 640px) {
  html {
    font-size: 10pt;
  }
}

@media print {
  html {
    font-size: 11pt;
  }

  body {
    max-width: none;
  }

  .dimmedText {
    color: lighten(#000, 40%);
  }
}