---
---

html {
  font: normal 14pt/1.5 Georgia,serif;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0 auto;
  max-width: 40em;
  box-sizing: border-box;
}

h1 {
  font-weight: normal;
}

.flow > * {
  display: inline-block;
}

.flow.gutter > *:not(:last-child) {
  margin-right: 1.5em;
}

@media screen {
  html {
    background: #FCFEFF;
    color: #07203B;
  }

  body {
    padding: 0 1em;
  }

  .dimmed-text {
    color: rgba(#07203B, 80%);
  }
}

@media only screen and (max-width: 640px) {
  html {
    font-size: 10pt;
  }
}

@media print {
  html {
    font-size: 11pt;
  }

  body {
    max-width: none;
  }
}