html, body {
  height: 100%;
  margin: 0; padding: 0;
  background: #FDF6E3;
  color: #333;
}

body, button, input {
  font: normal 11pt/1.7 Avenir,'Segoe UI',sans-serif;
}

label {
  display: block;
  padding: 1em 0;
}

.Screen {
  box-sizing: border-box;
  max-width: 35em;
  margin: 0 auto;
  padding: 0 0.5em;
}

.Screen:not(:target) {
  display: none;
}

.StatusBar {
  position: fixed;
  display: block;
  left: 0; top: 0;
  width: 100%;
  text-align: center;
  font-size: 80%;
  background: #F9ECC9;
}

.Title {
  margin: 1em 0 0;
}

.Title.Priority {
  font-weight: bold;
}

.OnlyPriority .Title.Priority {
  font-weight: normal;
}

.Details {
  margin: 0;
  font-size: 80%;
}

.Series {
  margin-left: 0.5em;
  opacity: 0.6;
}

.OnlyPriority .Title:not(.Priority),
.OnlyPriority .Details:not(.Priority) {
  display: none;
}

#apiKeyScreen label {
  font-size: 80%;
}

#apiKeyScreen label > input {
  display: block;
  box-sizing: border-box;
  width: 100%;
}

#apiKeyScreen  > footer {
  margin: 0.5em 0;
}

#apiKeyScreen  > footer > button {
  font-size: 90%;
  padding: 0 0.7em;
}
