<!DOCTYPE html>
<html lang={% if page.language %}{{page.language}}{% else %}en-US{% endif %}><head>
<meta charset=utf-8>
{% if page.title %}<title>{{page.title}}</title>{% endif %}
{% if page.description %}<meta name=description content="{{page.description | xml_escape}}">{% endif %}
<meta name=viewport content="width=device-width,initial-scale=1">
<meta http-equiv=Permissions-Policy content="interest-cohort=()">
<link rel=stylesheet href="{{site.baseUrl}}etc.css">
<link rel=canonical href="{{site.url}}{{page.url | replace:'index.html',''}}">{% if page.robotsNoIndex %}<meta name=robots content="noindex,follow">{% endif %}
</head><body>{{content}}</body></html>
